<!DOCTYPE html>
<!--
 - File              : add.html
 - Author            : Teguh Satya <teguhsatyadhr@gmail.com>
 - Date              : 19.03.2021
 - Last Modified Date: 19.03.2021
 - Last Modified By  : Teguh Satya <teguhsatyadhr@gmail.com>
-->

{% extends 'crud_app/base.html' %}


{% block content %}
<style>
    #singer-info{
        display:none;
    }
</style>
<div class="row mt-4 mb-2">
    <div class="col-sm-12">
        <h1>➕ Music</h1>
    </div>
</div>
<div class="row" >
        <h3>🎤 Select singer : </h3>
        <hr>
    <div class="col-sm-12 col-lg-10">
        <select class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option> 
            {% for artist in artist %}
            <option value={{artist.id}}>{{ artist.musician_first_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-12 col-lg-2">
        <button id='singer-select' class="btn btn-success" onclick='addSinger()'>add singer </button>
    </div>
</div>
<div class="row mt-4" id='singer-info' >
    <h3>👩🏻‍💼 singer information : </h3>
    <hr>
    <form action="" >
    <div class="col-sm-12">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name='m_fname' id="floatingInput" placeholder="singer first name ">
          <label for="floatingInput">First Name </label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name='m_lastname' id="floatingInput" placeholder="singer last name ">
          <label for="floatingInput">Last Name</label>
        </div>
        <button class="btn btn-success" value='submit'>Add singer</button>
     </div>
    </form>
</div>
<div class="row mt-4">
    <h3>📝 Music information : </h3>
    <hr>
    <form action="">
    <div class="col-sm-12">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name='s_title' id="floatingInput" placeholder="song title">
          <label for="floatingInput">Song title </label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name='s_album' id="floatingInput" placeholder="album title">
          <label for="floatingInput">Album Title</label>
        </div>
        <div class="form-floating mb-3">
          <input type="date" class="form-control" name='s_date' id="floatingInput" placeholder="release date">
          <label for="floatingInput">Release date </label>
        </div>
     </div>
    </form>
</div>

<script>
    function addSinger(){
            state = document.getElementById('singer-info');
            singer_select = document.getElementById('singer-select');
            
            if (state.style.display === 'none'){
                state.style.display = 'block';            
                singer_select.style.display = 'none';
                }
            else{
                    state.style.display = 'none';
                    singer_select.style.display = 'block';
                }
        }

</script>





{% endblock %}


