<!DOCTYPE html>
<!--
 - File              : index.html
 - Author            : Teguh Satya <teguhsatyadhr@gmail.com>
 - Date              : 19.03.2021
 - Last Modified Date: 20.03.2021
 - Last Modified By  : Teguh Satya <teguhsatyadhr@gmail.com>
-->

{% extends 'crud_app/base.html' %}


{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1 class='mt-4'>🎹Music DB using PostgreSQL and Django</h1>
    </div>
</div>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-sm-12">
        <table class="table mt-2">
          <thead>
            <tr>
              <th scope="col">Singer</th>
              <th scope="col">Songs</th>
              <th scope="col">Album</th>
              <th scope="col">Release Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
                {% for obj in object_list %}
                <tr>
                  <td>{{obj.singer_name.musician_first_name}}</td>
                  <td>{{obj.song_title}}</td>
                  <td>{{obj.album_name}}</td>
                  <td>{{obj.release_date}}</td>
                  <td>
                      <form action="{% url 'delete' obj.id %}" method='POST'>
                          {% csrf_token %}
                          <button class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this item?');" type='submit'>delete</button>
                      </form>
                  </td>

                </tr>
                {% endfor %}
          </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12"><a class="btn btn-success col-sm-12" href="{% url 'add' %}">add data</a></div>
</div>
{% endblock %}



