<!DOCTYPE html>
<!--
 - File              : update.html
 - Author            : Teguh Satya <teguhsatyadhr@gmail.com>
 - Date              : 19.03.2021
 - Last Modified Date: 21.03.2021
 - Last Modified By  : Teguh Satya <teguhsatyadhr@gmail.com>
-->

{% extends 'crud_app/base.html' %}


{% block content %}
<div class="row mt-4 mb-2">
    <div class="col-sm-12">
        <h1>📝 Music</h1>
    </div>
</div>
<form action="" method='POST'>
    {% csrf_token %}
    {% for obj in object_list %}
        <div class="row mt-4">
            <h3>📝 Music information : </h3>
            <hr>
            <div class="col-sm-12">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name='s_title' value='{{obj.song_title}}' id="floatingInput" placeholder="song title">
                  <label for="floatingInput">Song title </label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name='s_album' id="floatingInput" value='{{obj.album_name}}' placeholder="album title">
                  <label for="floatingInput">Album Title</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="date" class="form-control" name='s_date' id="floatingInput" placeholder="release date" value='{{obj.release_date}}' >
                  <label for="floatingInput">Release date </label>
                </div>
             </div>
        </div>
                <button class="btn btn-warning col-sm-12" value='submit'>Edit </button>
    </form>
    {% endfor %}






{% endblock %}

